* {
    margin: 0px;
    padding: 0px;
}

:root {

    font-family: "Open Sans", sans-serif;
    background-color: #F5F4F0;
    /* align-items: center; */
}

#page {

    width: 1120px;
    padding: 88px 80px;
    margin: auto;
}

#description {
    margin: 40px 0px;
}

img {
    border-radius: 28px;
    width: fit-content;
}


#mainImg {
    margin-bottom: 24px;
    height: 660px;
}

#titleList {

    margin: 64px 0px;
}

.listImg {
    height: 350px;
    margin-bottom: 20px;
}


h4 {
    color: #E1624F;
    font-style: bold;
    font-size: 16px;

}

h1 {
    font-size: 36px;
}

h2 {
    margin-bottom: 4px
}

#legenda {
    font-size: 16px;
    text-align: center;
    font-style: italic;
}

p {
    font-size: 16px;
}

ul {
    margin-bottom: 48px;
    font-weight: bold;
    font-size: 16px;
}

li {
    margin-left: 24px;
}

ul li::marker {
    color: #333333;
}


#listTitle {
    font-style: bold;
}

.quebra {
    width: 100%;
    height: 1px;
    margin: 36px 0;
    background-color: #d9d9d9;
}

#ending {
    text-align: center;
}

.hist {
    color: #0C51A7;
}

.casais {
    color: #E95E10;
}

.familia {
    color: #E5245E;
}

.orcamento {
    color: #591B98;
}

footer {
    text-align: center;
    padding-bottom: 48px;
}

footer img {
    vertical-align: middle;
}